.page-cont {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    

    .text {
        position: absolute;
        width: 20%;
        height: 10%;
        font-size: 70px;
        transform: translate(195%, -50%);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #000000c3;

        &:hover {
            color: #ffffff73;
        }
    }
    .icons {
        display: flex;
        font-size: 80px;


        a {
            text-decoration: none;
            color: white;
        }

        .one {
            width: 10%;
            height: 30%;
            font-size: 200px;
            position: absolute;;
            transform: translate(150%,50%);
            color: #264de4;

            &:hover .overlay {
                transform: scale(1);
                
              }
        }
        .two {
            width: 10%;
            height: 30%;
            font-size: 200px;
            position: absolute;
            transform: translate(450%,55%);
            color: yellow;

            &:hover .overlay {
                transform: scale(1);
                top: 20px;
                
              }
        }
        .three {
            width: 10%;
            height: 30%;
            font-size: 200px;
            position: absolute;
            transform: translate(740%,60%);
            color: #e34c26;

            &:hover .overlay {
                transform: scale(1);
                top: 15px;
                
              }
        }
        .four {
            width: 10%;
            height: 30%;
            font-size: 200px;
            position: absolute;
            transform: translate(150%, 180%);
            color: #000000;

            &:hover .overlay {
                transform: scale(1);
                top: 10px;
                
              }
        }
        .five {
            width: 10%;
            height: 30%;
            font-size: 180px;
            position: absolute;
            transform: translate(440%,180%);
            color: #CD6799;

            &:hover .overlay {
                transform: scale(1);
                bottom: -10px;
                
              }
        }
        .six {

            width: 10%;
            height: 30%;
            position: absolute;
            transform: translate(720%,200%);

            img{
                max-width: 200px;
                max-height: 200px;
            }

            &:hover .overlay {
                transform: scale(1);
                bottom: 40px;

                
              }
        }
    }
    .overlay {
        position: absolute;
        bottom: -30px;
        left: -80px;
        right: 0px;
        background-color: #003566;
        overflow: hidden;
        width: 240%;
        height: 100%;
        transform: scale(0);
        transition: .45s ease;

        .p-text {
            color: #ffffff73;
            font-size: 14px;
            position: absolute;
            top: 20%;
            left: 7%;
            text-align: justify;
          }
      }
      
}

@media screen and (max-width: '1000px') {
    .page-cont{
        .text {
            font-size: 50px;
            transform: translate(60%, -60%);
        }
        .icons {
            position: relative;
            transform: translateY(30%);
            

          .one {
            font-size: 120px;
            width: 20%;
            height: 20%;
            transform: translate(50%, 320%);
          }
          .two {
            font-size: 120px;
            width: 20%;
            height: 20%;
            transform: translate(300%, 320%);
          }
          .three {
            font-size: 120px;
            width: 20%;
            height: 20%;
            transform: translate(70%, 1100%);

          }
          .four {
            font-size: 120px;
            width: 20%;
            height: 20%;
            transform: translate(290%, 1100%);
          }
          .five {
            font-size: 100px;
            width: 20%;
            height: 20%;
            transform: translate(60%, 1900%);
            .overlay {
                top: 60%;
            }
          }
          .six {
            width: 20%;
            height: 20%;
            transform: translate(280%, 1900%);

            .overlay {
                top: 100%;
            }
            img{
                max-width: 130px;
                max-height: 130px;
            }
          }
        }

        .overlay {
            overflow: hidden;
            width: 150px;
            height: 170px;
            left: -25%;
            bottom: -700%;
            right: 20%;

            .p-text {
                color: #ffffff73;
                background-color: #003566;
                width: 100%;
                height: 100%;
                font-size: 11px;
                top: 0%;
                left: 0%;
                bottom: 0%;
              }
        }
    }
    
}