.Text{
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  color: #000000c3;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  &:hover {
    color: #ffffff73;
  }
}

.Left-Side {
  transform: translate(10%, 120%);
  text-transform: uppercase;
  color: #000000c3;
  letter-spacing: 3px;

  :first-child{
    font-size: 40px;
    font-weight: 300;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    &:hover {
      color: #ffffff73;
    }
  }

  .flat-button {
    color: #000000c3;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #000000c3;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    margin-left: 80px;

    &:hover {
      background: #ffffff73;
      color: dimgray;
    }
  }
}

.stage-cube-cont {
  width: 60%;
  height: 100%;
  top: 10%;
  padding-top: 11%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 22s;
  transform-style: preserve-3d;
  transform-origin: 75px 75px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #000000c3;
    text-align: center;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 100px 0px #352929c5;
  }

  .face1 {
    transform: translateZ(150px);
    color: #e34c26;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(150px);
    color: #264de4;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    color: #264de4;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    color: yellow;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(150px);
    color: #CD6799;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: "1000px") {

  .Text {
    transform: translateX(2%);
  }
  .stage-cube-cont {
    width: 200px;
    height: 200px;
    align-items: center;
    right: 25%;
    position: absolute;
    overflow: visible;
    transform: translateY(10%);
    
  }

  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transform-style: preserve-3d;
    transform-origin: 75px 75px 0;
    margin-left: calc(0%);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      background: #000000c3;
      text-align: center;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px #352929c5;

      img {
        max-height: 100px;
        margin-bottom: 30%;
      }
    }

    .face1 {
      transform: translateZ(100px);
      color: #e34c26;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #264de4;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #264de4;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: yellow;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #CD6799;
    }

  }
  .Left-Side {
    width: 50%;
    margin-top: 80%;
    text-transform: uppercase;
    color: #000000c3;
    letter-spacing: 2px;
    transform: translateX(50%);
    text-align: center;

    :first-child{
      font-size: 25px;  
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      &:hover {
        color: #ffffff73;
      }
    }

    .flat-button {
      position: absolute;
      margin-top: -3%;
      right: -20%;
      left: -60%;
    }
  }
  


}
