.head-left {
  text-transform: uppercase;
  color: #000000;
  font-size: 50px;
  margin-left: 14%;
  top: 23%;
  position: absolute;
  &:hover {
    color: #ffffff73;
  }

}

.head-right {
  text-transform: uppercase;
  color: #000000;
  font-size: 50px;
  transform: translateX(220%);
  top: 23%;
  position: absolute;
  &:hover {
    color: #ffffff73;
  }

  ul{
    list-style: none;
    display: flex;
    margin-left: 13%;
    margin-top: 5%;
  }

  a{
    font-size: 100px;
    margin-right: 50px;
  }
}
.contact-form {
  transform: translate(20%, 120%);
  width: 50%;

    ul {
    padding: 0;
    margin: 0;
    
  }

    .half {
        padding: 3px;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: inline;
        clear: both;
        position: relative;
        animation: fadeInUp 4s 2s;
        animation-fill-mode: forwards;

        input[type='text'],
        input[type='email'],
        input[type='subject'] {
        width: 40%;
        border: 0;
        border-color: #003566;
        background: #ffffff23;
        height: 50px;
        font-size: 20px;
        color: #000000;
        padding: 0 20px;
        box-sizing: border-box;
    }
  }
  textarea {
      width: 80%;
      border: 1;
      border-color: #003566;
      background: #ffffff23;
      height: 50px;
      font-size: 20px;
      color: rgb(0, 0, 0);
      padding: 20px;
      box-sizing: border-box;
      min-height: 100px;
  }
  ::marker{
      color: #003566;
  }
  
  .flat-button {
    width: 80%;
    color: #003566;
    text-transform: uppercase;
    text-align: right;
    list-style: none;
  }
}

@media screen and (max-width: "1000px") {
  
}