html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    font: 300 11px/1.4 'Tahoma', sans-serif;
    color: rgb(100, 3, 3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #264653;
    overflow: hidden;
    display: block;
  }